.top-nav {
    display: flex;
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
.nav-button {
    margin-right: 15px;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    background-color: #e0e0e0;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #d0d0d0;
}

.content {
    padding: 20px;
}

.settings {
    position: absolute;
    height: 100%;
    padding-left: 75%;
}